extends: default.liquid
title: "About Shea"
route: about
static: true
---

<p>
Customer Services Engineer at <a href="https://polysync.io/">PolySync</a> 
in Portland, Oregon. Writes code generation tools, sensor drivers, property 
tests.
</p>

<p>
B.A. Philosophy, University of Oregon.<br>
B.S. Computer Science, University of Oregon.
</p>

<p>
Active member:
<ul>
  <li><a href="https://www.meetup.com/PDXRust/">PDXRust</a></li>
  <li><a href="https://www.meetup.com/pdxnode/">PDXnode</a></li>
</ul>
</p>

<p>
More:
<ul>
  <li><a href="http://github.com/snewt/">Github</a></li>
  <li><a href="https://twitter.com/shnewto">Twitter</a></li>
  <li><a href="https://www.linkedin.com/in/sheanewton">LinkedIn</a></li>
</ul>
</p>
