extends: default.liquid

title: Embed elm
draft: true
date: 20 Nov 2017 18:53:00 +0100
path: 2017/draft1
---

Attempts to embed elm.

<div id="elm"></div>

<head>
    <script src="/assets/post-1.js"></script>
	<script>
		var node = document.getElementById('elm');
		var app = Elm.BlogPost.embed(node);
	</script>
</head>
