<footer>
<ul class="links">
    <small>
        Site powered by <a href="https://github.com/cobalt-org/cobalt.rs">cobalt.rs.</a>
        Layout based on <a href="https://github.com/mre/mre.github.io">mre/mre.github.io</a>
    </small>
</ul>
</footer>
