

.svg_area {
    position: relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(130, 131, 130, 0.11);
    opacity: 0.5;
}

/* .svg_area {
    content: " · ";
} */

.Path {
    display: none;
    stroke: black;
    stroke-width: 5;
    stroke-dasharray: 15000;
    stroke-dashoffset: 15000;
    animation: dash 5s linear forwards;
    fill: none;
    opacity: 0.3;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.Dot {
    visibility: hidden;
}

.Q1 {
    float: relative;
    width: 200px;
    height: 100px;
    margin: 1em;
    opacity: 0.7;

}

.A1 {
    float: relative;
    width: 200px;
    height: 100px;
    margin: 1em;
    visibility: hidden;
    opacity: 0.7;

}

.Q2 {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 1em;
    opacity: 0.7;

}

.A2 {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 1em;
    visibility: hidden;
    opacity: 0.7;
}