extends: default.liquid
title: "Generate Random SVG Curves"
route: playground/curves
---

<style>
{% include playground/curves/curves.css %}
</style>

<svg id="map" class="svg_area">
  <path class="Path" id="path1"/>
  <circle class="Dot" id="dotStart1"r="4"/>
  <circle class="Dot" id="dotEnd1" r="4"/>

  <path class="Path" id="path2"/>
  <circle class="Dot" id="dotStart2" r="4"/>
  <circle class="Dot" id="dotEnd2" r="4"/>

  <path class="Path" id="path3"/>

  <path class="Path" id="path4"/>

  <div id="q1" class="Q1" onclick='show_answer( 1 );'>
    Q1: idk?
  </div>

  <div id="a1" class="A1">
    A1: yolo.
  </div>

  <div id="q2" class="Q2" onclick='show_answer( 2 );'>
    Q2: imho?
  </div>

  <div id="a2" class="A2">
    A2: brt.
  </div>
</svg>

<script src="curves.js"></script>

